html{
    height: 100%;
}
body{
    padding-top: 70px;
    height: 100%;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
}
.center{
    text-align: center;
}
td{
    padding-bottom: 10px;
}
.panel-heading{
    text-align: center;
}
.container{
}
.col-centered{
    float: none;
    margin: 0 auto;
}
